:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #000000;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  max-width: 1050px;
  width: 100%;
  padding: 10px;
}

/* Navigation styling */

nav {
  color: white;
  font-weight: bold;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cacaca;
  padding: 30px;
}

.middle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#MTP-logo {
  height: 60px;
  margin-bottom: 20px;
}

/* Heading styling */
h1 {
  font-size: 2rem;
  font-weight: 550;
  color: var(--main-bg-color);
  margin: 20px 0;
  margin-top: 60px;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
}

.custom-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.custom-controls button {
  background-color: var(--main-btn-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* video infor styling  */

#video-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}
.line {
  border-bottom: 1.5px solid rgb(189, 189, 189);
  margin-top: 55px;
  width: 100%;
}

/* other musiv video styling */

h2,
h3 {
  font-size: 2rem;
  font-weight: 550;
  color: var(--main-bg-color);
  margin: 20px 0;
  margin-top: 50px;
}

#thumbnail-01 {
  width: 600px;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

#title-01 {
  font-size: 1.7rem;
  font-weight: 550;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 500px;
}

#released {
  font-size: 1.4rem;
  font-weight: 50;
  color: gray;
}

#thumbnail {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

#title-left {
  font-size: 1rem;
  font-weight: 250;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 250px;
}
#released-left {
  font-size: 0.8rem;
  font-weight: 50;
  color: gray;
}

#right-hand-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#other-music-videos {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 35px;
}

/* Viral videos styling */

#viral-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
  margin-top: 35px;
}

#thumbnail-viral {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

#title-viral {
  font-size: 1.1rem;
  font-weight: 250;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 350px;
}

/* Footer styling */
footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding: 10px 0;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 110px;
}
