:root {
  --primary-bg-color: #f4f4f4;
  --text-color: #333;
  --main-bg-color: #000000;
  --main-text-color: #fff;
  --main-btn-bg-color: #938989;
}

body,
p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Create a container for the main content */
.container {
  max-width: 1000px;
  width: 100%;
  padding: 10px;
}

/* Navigation styling */

nav {
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
  height: 55px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cacaca;
  padding: 30px;
}

.nav {
  font-size: 1.3rem;
}

nav .middle-section p {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 25px;
  cursor: pointer;
}

nav .middle-section p span {
  display: block;
  transition: transform 0.4s ease;
}

nav .middle-section p:hover span {
  transform: translateY(-50%);
}

.middle-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#MTP-logo {
  height: 60px;
  margin-bottom: 20px;
}

/* Heading styling */
h1 {
  font-size: 2rem;
  font-weight: 550;
  color: var(--main-bg-color);
  margin: 20px 0;
  margin-top: 90px;
}

/* Media player styling */
.media-player {
  width: 100%;
  margin: 0 auto;
}

.media-player video {
  max-width: 100%;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.controls button {
  background-color: var(--primary-bg-color);
  color: var(--main-text-color);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.4s;
}
.controls button:hover {
  scale: 1.2;
}

#next {
  color: var(--main-bg-color);
}
#back {
  color: var(--main-bg-color);
}
.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-top: 10px;
  overflow: hidden;
}

.progress-bar span {
  display: block;
  height: 100%;
  background-color: var(--main-bg-color);
  width: 0;
  transition: width 0.3s ease;
}

/* video infor styling  */

#video-info {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: space-between;
}

.infor {
  font-size: 0.9rem;
}
.line {
  border-bottom: 1.5px solid rgb(189, 189, 189);
  margin-top: 55px;
  width: 100%;
}

/* other musiv video styling */

h2,
h3 {
  font-size: 2rem;
  font-weight: 550;
  color: var(--main-bg-color);
  margin: 20px 0;
  margin-top: 50px;
}

#thumbnail-01 {
  width: 600px;
  height: 350px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

#title-01 {
  font-size: 1.7rem;
  font-weight: 550;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 500px;
  padding: 5px;
}

.released {
  font-size: 1.4rem;
  font-weight: 350;
  color: gray;
  padding-left: 5px;
}

.thumbnail {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.title-left {
  font-size: 1rem;
  font-weight: 450;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 250px;
  padding-left: 5px;
}
.released-left {
  font-size: 0.8rem;
  font-weight: 300;
  color: gray;
  padding-left: 5px;
}

#right-hand-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#other-music-videos {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  margin-top: 35px;
}
.box-shadow {
  transition: 0.4s;
  border-radius: 6px;
}
.box-shadow:hover {
  box-shadow: 0 4px 8px rgba(176, 176, 176, 0.2);
}

#box-shadow {
  transition: 0.4s;
  border-radius: 6px;
}
#box-shadow:hover {
  box-shadow: 0 4px 8px rgba(176, 176, 176, 0.2);
}

/* Viral videos styling */

.viral-videos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 20px;
  margin-top: 35px;
}

.thumbnail-viral {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: cover;
}

.title-viral {
  font-size: 1.1rem;
  font-weight: 450;
  color: var(--text-color);
  margin-top: 10px;
  max-width: 350px;
}

.viral-videos {
  padding: 1rem;
}

.video-carousel {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding-bottom: 12rem;
}

.video-thumb {
  flex: 0 0 auto;
  width: 330px;
  height: 120px;
  border-radius: 8px;
  scroll-snap-align: start;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 40px;
  justify-content: center;
}

.scroll-left,
.scroll-right {
  background: none;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  color: rgba(148, 148, 148, 0.365);
}

/* Footer styling */

footer {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  column-gap: 50px;
}

.social-media {
  margin-right: 5px;
}
