body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 0 auto;
  background-color: black;
}
.wrapper {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 35%,
    rgb(255, 152, 42) 45%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  flex-wrap: wrap;
  gap: 5px;
  padding-bottom: 200px;
}

.container {
  position: relative;
  width: 320px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bold1 {
  font-weight: bold;
}
#align1 {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 60px;
  margin-top: 50px;
  text-align: right;
  color: rgb(255, 152, 42);
}
#alignpara {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 1.4rem;
}
#align2 {
  position: absolute;
  bottom: 0;
  margin-left: 60px;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.9rem;
}

#box1 {
  width: 29px;
  height: 31px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 20px;
  margin-top: 15px;
}
#box2 {
  width: 29px;
  height: 31px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 125px;
  margin-top: 50px;
}
#box3 {
  width: 29px;
  height: 31px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 33px;
  margin-top: 139px;
}
#box4 {
  width: 49px;
  height: 24px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 200px;
  margin-top: 113px;
}
#box5 {
  width: 66px;
  height: 27px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 249px;
  margin-top: 137px;
}
#box6 {
  width: 66px;
  height: 27px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 480px;
  margin-top: 85px;
}
#box7 {
  width: 49px;
  height: 17px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 426px;
  margin-top: 207px;
}
#box8 {
  width: 66px;
  height: 27px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 580px;
  margin-top: 150px;
}
#box9 {
  width: 40px;
  height: 27px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 750px;
  margin-top: 110px;
}
#box10 {
  width: 49px;
  height: 13px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 850px;
  margin-top: 211px;
}
#box11 {
  width: 82px;
  height: 32px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 980px;
  margin-top: 170px;
}
#box12 {
  width: 29px;
  height: 24px;
  background-color: rgb(255, 152, 42);
  position: absolute;
  bottom: 0;
  top: 0;
  margin-left: 1180px;
  margin-top: 201px;
}
#box13 {
  width: 56px;
  height: 27px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 370px;
  margin-bottom: 350px;
  bottom: 0;
}
#box14 {
  width: 33px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 540px;
  margin-bottom: 350px;
  bottom: 0;
}
#box15 {
  width: 33px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 710px;
  margin-bottom: 280px;
  bottom: 0;
}
#box16 {
  width: 33px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 710px;
  margin-bottom: 280px;
  bottom: 0;
}
#box17 {
  width: 73px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 850px;
  margin-bottom: 330px;
  bottom: 0;
}
#box18 {
  width: 33px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 980px;
  margin-bottom: 220px;
  bottom: 0;
}
#box19 {
  width: 33px;
  height: 30px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 1080px;
  margin-bottom: 380px;
  bottom: 0;
}
#box20 {
  width: 68px;
  height: 25px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 1380px;
  margin-bottom: 360px;
  bottom: 0;
}
#box21 {
  width: 123px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 1200px;
  margin-bottom: 210px;
  bottom: 0;
}
#box22 {
  width: 123px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 1322px;
  margin-bottom: 172px;
  bottom: 0;
}
#box23 {
  width: 40px;
  height: 38px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  margin-left: 1440px;
  margin-bottom: 30px;
  bottom: 0;
}
#page1 {
  margin-bottom: 20px;
}

#flexbox1-1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  margin-left: 160px;
  margin-right: 160px;
}

#flexbox1-2 {
  display: flex;
  margin-bottom: 150px;
  margin-top: 30px;
}

#flexbox1-3 {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 200px;
}

.question-title-1 {
  color: rgb(255, 152, 42);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  margin-bottom: 35px;
}
.para1-1 {
  color: rgb(189, 189, 189);
  font-size: 1.1rem;
  margin-left: 50px;
  margin-right: 300px;
  line-height: 25px;
}
.para1-2 {
  color: rgb(189, 189, 189);
  font-size: 1.1rem;
  margin-left: 200px;
  margin-right: 50px;
  line-height: 25px;
}
.gifpage1 {
  width: 350px;
  height: 200px;
}
#page2 {
  margin-bottom: 0;
}
.question-title-2 {
  color: rgb(255, 152, 42);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  margin-bottom: 67px;
  margin-left: 160px;
  margin-right: 260px;
}
#hl1 {
  color: rgb(255, 152, 42);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#hl2 {
  color: rgb(56, 179, 13);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#hl3 {
  color: rgb(90, 148, 247);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#hl4 {
  color: rgb(237, 109, 96);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
#hl5 {
  color: rgb(255, 255, 255);
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#list {
  color: rgb(189, 189, 189);
  line-height: 25px;
}
#grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 100px;
  column-gap: 59px;
  margin-left: 160px;
  margin-right: 160px;
}
#page3 {
  height: 100vh;
}
