* {
  color: #b17cd7;
}
h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 119, 40);
  text-align: center;
  font-size: 2.8rem;
  text-transform: uppercase;
  cursor: pointer;
}
h1:hover {
  color: #0ed91f;
}
h2 {
  color: #0ed91f;
  text-align: center;
  font-family: "audiowide", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 10px;
  cursor: pointer;
}
h2:hover {
  color: #9a0eff;
}
h3 {
  color: rgb(255, 119, 40);
}

#email {
  color: #9927eb;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
ul {
  margin-bottom: 15px;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 50px;
  padding: 10px;
}
.li1 {
  color: #0ed91f;
}
.li2 {
  color: #9a0eff;
}

section {
  border: #9927eb solid 2px;
  margin-bottom: 15px;
}

.heading-border {
  border: #2eeb27 dashed 2px;
  margin-bottom: 10px;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1rem;
}
.heading-border:hover {
  color: #0ed91f;
}

/*
curly braces {}
parentheses < >
square brackets [ ]
round brackets ( )
colon :
semicolon;
syntax: rule of the lang
cmd / to make things become comments
hyphen -
id is for specific things, li1 red, p2 blue for example
class is for changing things in a group like all off the h1 wil become red for example
class is ranked higher than making things later individually
if wanna make a website for all browsers, use css reset

remember to add css reset to

for asm1 make this one b4 make the html and css style:
/*====================
 Rationale for the color scheme and typography

 1. I decided to use ...
 because....
 2. I chose this color pallette...
 because...

 ======================*/

/* ddc dung image fonts, color pallet trên mạng miễn sao acknowledge nó trog phần comment ở assignment là đc */
